body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Overlock', cursive;
    font-family: 'Forum', cursive;
    font-family: 'Poiret One', cursive;
}
.heading {
  font-weight: 400;
}
.subheading {
    font-weight: 100;
}