@import "../BMStyle";

.blog_home_page
{
    display: block;
    position: relative;
    margin: 0px;
    font-family: @UITitleFont;
    background-color: inherit;

    .blog_title
    {
        width: 100%;
        font-family: @UITitleFont;
        text-align: center;
    }

    .blog_entries
    {
        height: 1000px;
        padding: 8px;
    }

    .spacer
    {
        height: 100px;
    }
}