// Fonts
@UITitleFont: Raleway;
@UITextEntryFont: Roboto Slab;
@UIContentFont: work sans;
@UIIconFont: icomoon;

// Dimensions
@HeaderHeight: 70px;
@HeaderIconMargin: 5px;
@HeaderIconHeight: 40px;

@MenuItemHeight: 70px;

// Durations
@MenuSlideTransitionTime: 0.7s;
@ToggleSwitchTransitionTime: 0.3s;